<!DOCTYPE html>
<html ng-app="friendsList" ng-controller='mainCtrl'>
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Friends</h1>

    <p> EnterName:<br>
      {{newFriend}}
     <input type="text" ng-model="newFriend"/>
     </p>
     <button ng-click="addFriend()"> Add New Friend </button>

    <div ng-repeat="friend in friends">
      <p>{{friend}}</p>

    </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js">

</script>
<script type="text/javascript" src="JS/app.js">

</script>
<script type="text/javascript" src="JS/mainCtrl.js">

</script>
  </body>
</html>
